body {
  position: relative;
  min-width: $desktop-width;

  @include primary-font;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;

  @include clearfix;

  &--flex {
    display: flex;
    align-content: stretch;
  }
}

ul {
  margin: 0;
  padding: 0;
}
