.global-wrapper__popup-map {
  position: absolute;
  bottom: 386px;
  left: 50%;
  transform: translateX(-50%);
}

.global-wrapper__popup-form {
  position: absolute;
  top: 1100px;
  left: 50%;
  transform: translateX(-50%);
}
