@mixin primary-font {
  font-family: $primary-font-family;
  font-style: normal;
  font-size: $primary-text-size;
  line-height: $primary-text-height;
  color: $primary-text-color;
}

@mixin hover-opacity {
  &:hover {
    opacity: 0.6;
  }
}

@mixin active-opacity {
  &:active {
    opacity: 0.3;
  }
}

@mixin title {
  font-family: $secondary-font-family;
  font-size: 48px;
  line-height: 58px;
  color: $secondary-text-color;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
