$primary-bg-color: #ffffff;
$secondary-bg-color: rgba(240, 197, 46, 0.5);

$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
