.logo {
  display: block;
  transition-duration: 0.5s;
}

.logo__title {
  margin: 0;

  font-family: $secondary-font-family;
  font-size: 48px;
  text-transform: uppercase;
  color: $secondary-text-color;

  &--color {
    color: #ffc600;
  }
}

.logo[href]:not(.page-footer__logo) {
  margin-right: 100%;
}

.logo[href] {
  text-decoration: none;
  box-sizing: border-box;

  &:hover {
    opacity: 0.6;
    transition-duration: 0.5s;
  }
  &:active {
    opacity: 0.3;
    transition-duration: 0.5s;
  }
}
