.page-header {
  padding: 0 55px;

  background-color: $secondary-bg-color;
  box-sizing: border-box;
}

.page-header__logo {
  position: relative;
  top: -15px;

  margin-top: 40px;
  margin-bottom: 6px;
}

.page-header__user-panel {
  margin-bottom: 10px;
}
