.user-panel {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  flex-basis: 1200px;
}

.user-panel__search {
  position: relative;

  margin-right: auto;
  margin-bottom: 20px;
}

.user-panel__link {
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 2%;

  @include primary-font;
  text-align: right;
  text-decoration: none;

  @include hover-opacity;
  @include active-opacity;

  &--login {
    margin-right: 19%;
  }
  &--login-active {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 7px;
  }
  &--hidden {
    display: none;
  }
}

.user-panel__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  @include hover-opacity;
  @include active-opacity;

  &--color {
    fill: #ffc600;
  }
}

.user-panel__connect {
  display: none;
  margin-right: 44px;

  &--active {
    display: block;
  }
}

.user-panel__output-btn {
  background: none;
  outline: none;
  border: none;
  opacity: 0.3;

  cursor: pointer;
}
